html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  /* font-family: "europa", sans-serif; */
  color: #141c3a;
  font-weight: 300;
  /* font-size: 1.5rem; */
  line-height: 1.5;
}

.section {
  padding: 5rem 1.5rem;
}

.content {
  font-weight: 200;
  line-height: 30px;
  font-size: 1rem;
}

.has-text-primary {
  color: #7510f7 !important;
  font-weight: 400;
}

.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}
/* Start of Nav */
.navbar {
  padding: 1.8rem 0px;
}

.projects-link {
  text-decoration: none;
  color: black;
  /* font-weight: 400; */
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.projects-link:hover {
  color: #7510f7;
}

.contact-div {
  /* border-width: 2px; */
  font-weight: 400;
  font-size: 1rem;
  /* padding: 1.2rem; */
  background-color: transparent;
  border: 2px solid #7510f7;
  border-radius: 33px;
  color: #7510f7;
}

.contact-div:hover {
  color: white;
  background-color: #7510f7;
}

.contact-link {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  color: #7510f7;
}

.contact-link:hover {
  color: white;
}
/* End of nav */

/* Start of Intro Section */
.has-text-centered {
  text-align: center !important;
}

.avatar {
  width: 220px;
}

.desk {
  width: 650px;
}

.intro-layout {
  background-color: white;
  color: #0a0a0a;
  padding-top: 2rem;
}

.intro-body {
  padding: 3rem 1.5rem;
}

.title {
  color: #141c3a;
  font-weight: 800;
  font-family: sans-serif;
  /* letter-spacing: 0.1rem; */
  margin-bottom: 1.5rem;
}

.subtitle {
  /* font-family: "europa", sans-serif; */
  font-weight: 200 !important;
  line-height: 1.5;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
/* End of Intro Section */

/* Start of about Page */
.is-primary {
  background-color: #7510f7;
  color: #fff;
  padding-bottom: 8rem;
}

.is-centered {
  justify-content: center;
}

.has-text-centered {
  text-align: center !important;
}

.about-layout {
  padding: 5rem 1.5rem;
  /* width: 60%; */
  margin: auto;
}

.about-title {
  font-size: 2rem;
  font-weight: 600;
}

/* End of about Page */

/* Start of Skill Page */
.skill_layout {
  margin-top: -14rem;
}

.container.is-narrow {
  max-width: 90%;
}

.skills-layout {
  background-color: white;
  border: 1px solid #e6ecf8;
  border-radius: 12px;
}

.column {
  border-right: 1px solid #e6ecf8;
  padding: 70px 45px;
  /* border-radius: 12px; */
}

.skill-height {
  height: 100%;
}

section .container .row .column ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* End of Skill Page */

/* Start of My Work Page */
.is-medium {
  padding: 8rem 1.5rem;
}

.grid {
  max-width: 92%;
}

.my-work-box {
  position: relative;
  height: 92%;
  border-radius: 12px;
  margin: 0.75rem;
}

.project-thumb {
  border-radius: 0.8rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.my-work-box:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  border-radius: 0.8rem;
  transition: 0.75s ease;
  background-color: #141c3a;
  padding: 3rem;
}

.text {
  color: white;
  font-size: 1.5rem;
}
/* End of My work Page */

/* Start of Clients Page */
.has-border-top {
  border-top: 1px solid #e6ecf8;
}
/* End of Clients Page */

/* Start of Projects Page */

.project-box {
  position: relative;
  height: 92%;
  border-radius: 12px;
  border: 1px solid #e6ecf8;
  margin: 0.75rem;
  background-color: white;
  padding: 60px 35px;
}

/* End of Projects Page */

/* Start of Start Projects Page */
.box {
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}
/* End of Start Projects Page */

/* @media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}
*/
@media screen and (min-width: 1024px) {
  /* .container {
    max-width: 960px;
  }

  .desk {
    width: 100px;
  } */
  .about-layout {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem !important;
  }

  .container.is-narrow {
    max-width: 100%;
  }

  .subtitle {
    font-size: 1.2rem !important;
  }

  .avatar {
    width: 170px;
  }

  .desk {
    max-width: 460px;
  }

  .about-layout {
    width: 100%;
    padding: 2rem 0rem 8rem 0rem;
  }

  .grid {
    max-width: 100%;
    padding: 0px;
  }

  .my-work-box {
    height: 100%;
    /* margin-bottom: 1rem; */
  }

  .project-box {
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .desk {
    max-width: 280px;
  }
}
